{% extends "learning_logs/base.html" %} 
{% load django_bootstrap5 %} 

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8 col-lg-6">
        <div class="card bg-white p-5 shadow-sm border-0">
            <h3 class="mb-4 serif-text text-center fw-bold" style="color: var(--primary-color);">创立新卷</h3>
            <form action="{% url 'learning_logs:new_topic' %}" method="post">
              {% csrf_token %} 
              {% bootstrap_form form %} 
              <div class="text-center mt-5">
                  <button type="submit" class="btn btn-primary rounded-pill px-5 shadow-sm">确认创立</button>
              </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}